[submodule "tomatinho"]
	path = tomatinho
	url = git://github.com/konr/tomatinho.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/purcell/auto-complete.git
